

@font-face {
    font-family: 'Spectral-Regular';
    src: url('../fonts/Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue-Regular';
    src: url('../fonts/Epilogue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}